.sidenav{
 background-color: black;
  box-shadow: 2px 3px 3px;
  position: fixed;
  top:0;
  right: 0;
  height:100vh;
  width:290px;
  //display:non;
  flex-direction: column;
  align-items: flex-start;
  z-index: 999;
  justify-content: flex-start;
  box-shadow: 1px 4px 5px;
  opacity: 0.92;
   transition:0.8s ease;
  transform: translateX(300px);
  color:#dd2121;
 
}
.sidenav li{
  margin-bottom: 28px;
  padding:1px;
  display: block;
  padding-right:10px 50px
}
.sidenav a{
   text-decoration: none;
  color:#dd2121;
 font-size: 18px;
  padding-left:-10px;
  transition:0.4s ease;
}
#home{
  transform: translateX(-47px)
}


.bx-x{
  color:#dd2121;
 font-size: 35px;
  margin-left: -9px;
 transition:0.4s ease;
}

.bx-x:hover{
  transform: rotate(180deg);
}
.sidenav .dsd a{
  padding:5px 50px;
  border-radius: 5px;
  margin-left:-50px;
}

.bx-menu{
  font-size:29px;
  transition:transform 0.4s ease;
  //display:none;
 transform:translateX(1300px) translateY(-40px);
  position: fixed;
  z-index: 1;
  border:1px solid red;
  border-radius:5px;
  color:white;
}

//.bx-menu:hover{
  transform:scale(1.2);
  background-color:blueviolet;
}

//@media(max-width:768px){
  .hide{
    color:white;
  }

.bx-menu{
  display:block;
  }
   .bx-cart{
    display:block;;
   transform:translateX(-310px)  translateY(-70px);
  }
  .Logo{
     transform:translateX(-340px)  translateY(20px);
  }
 
  
  
  .bx-menu{
      //transform:translateX(732px)  translateY(-38px);
    margin-left: 730px;
    margin-top:-38px
  }
 
}
//@media(max-width: 600px){
  .hide{
    color:white;
  }
 
.bx-menu{
  display:block;
  }
   
  
 
  .bx-menu{
      //transform:translateX(350px)  translateY(-38px);
    margin-left: 545px;
    margin-top:-38px;
  }
 
 
}
.bx-group,.bx-home,.bx-shopping-bag,.bx-cart,.bx-phone,.bxl-meta{
  margin-left:10px;
}
.social-icons li{
  display: inline;
  padding-right:39px;
  margin-left:-20px
}
.social-icons .bx{
  transition:transform 0.4s ease;
}

.social-icons .bx:hover{
  transform:translateY(-6px) scale(1.2)
}
.social-icons{
  padding-top:30px
}
.social-icons .bxl-facebook{
  color:white;
  background-color: blue;
  border-radius: 50%;
}

.social-icons .bxl-twitter{
  color:blue;
  background-color: white;
  border-radius: 50%;
}

.social-icons .bxl-youtube{
  color:red;
  background-color: white;
  border-radius: 50%;
}

.social-icons .bxl-instagram{
  color:purple;
  background-color: white;
  border-radius: 50%;
}

.social-icons .bxl-whatsapp{
  color:green;
  background-color: white;
  border-radius: 50%;
}


